{% extends 'main/base.html' %}

{% block title %}
СОздать задание
{% endblock %}

{% block content %}
    <div class="alert alert-warning mt-2"> 
            <h4>Создать задание</h3>
        </div>
        <form method="post"> 
            {% csrf_token %}
            <label for="title">Задание</label>
            {{form.title}} <br>
            <label for="task">Описание задания</label>
            {{form.task}}<br>
            <label for="task_date">Дата до которой нужно сделать задание</label>
            {{form.task_date}}<br>
            <label for="user_id">Пользователь</label>
            {{form.user_id}}
            <button type="submit" class="btn btn-outline-success">Отправить</button>
        </form>
{% endblock %}